body {
    background-color: #7298cc;
    font-family: Arial, sans-serif;
}

.counter-box {
    width: 500px;
    background-color: rgb(49, 54, 205);
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

button {
    padding: 10px;
    width: 80px;
    margin: 5px;
    font-size: 18px;
}
