body {
    background-color: white;
    font-family: Arial, sans-serif;
}

.login-box {
    width: 300px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 95%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    
}

button:hover {
    background-color: darkblue;
}


