body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 300px;
    background-color: white;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
}

button {
    margin: 5px;
    padding: 10px;
    width: 120px;
}
