.card{
background-color: rgb(179, 49, 140);
width: 500px;
/* margin: 40px (top/bottom) auto (left/right). 
       'auto' is a trick to center a block-level element horizontally. */
margin:40px auto;
padding: 20px;
border-radius: 10px;
}
body{
     background-color: rgb(212, 124, 175);
     font-family: Arial, sans-serif;
     text-align: center;
}
img {
    border-radius: 50%;
    margin-top: 10px;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}